@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --fontFamily: var(--shabnam);
}


html *{
  font-family: var(--fontFamily);

}

html[lang='en'] {
  --fontFamily: var(--poppins)
}


@layer utilities {
  .center {
    @apply flex justify-center items-center
  }
}

.react-parallax-background-children {
  @apply !important
}


.float-label {
  @apply relative
}

.label {
  @apply text-buttonTextSmall absolute px-6 pointer-events-none start-30 top-18 transition-all duration-[.2s] bg-white z-100
}

.label-float {
  @apply top-[-12px] bg-white z-100 text-blue text-[16px]
}

html {
  scroll-behavior: smooth !important;
}

body {
  scroll-behavior: smooth !important;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #212120;

}

body::-webkit-scrollbar-thumb {
  background-color: #0a0a0a;
  border-radius: 20px;
  border: 8px solid #EFBE03;

}

a {
  color: white;
}

a:hover {
  @apply text-[#f6f6f6] !important
}

@layer utilities {
  .d-rtl {
    direction: rtl;
  }

  .d-ltr {
    direction: ltr;
  }
}

.ant-form-item-explain-error {
  @apply ms-16 text-[14px] !important
}

.ant-input {
  @apply px-18 !important
}


.Toastify__toast-body {
  font-family: var(--fontFamily);
}

.ant-form-item-explain-error {
  font-weight: 500;
}
